.label{
    border :10px 0 black!important;
    padding:5px 10px!important;
    padding-right: 30px!important;
    border-radius:12px!important;
    background-color: rgba(168, 164, 164, 0.8)!important;
    width:90px!important;
    cursor: pointer!important;
    margin: 2px!important;
}

.label{
    color: black!important;
    font-family: Nunito,sans-serif!important;
    font-size: 13px;
    line-height : 19px !important;
}

@media(max-width : 780px){
    .label{
        border-radius : 50px!important;
    }
}
