.App-logo {
    height: 10vmin;
}

.App-header {
background-color: #788b95;
min-height: 20vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #09d3ac;
}

.footer{
    width : 100%;
    height : 50px;
    position : absolute;
    background-color: #788b95;
    padding: 20px;
    text-align: center;
    bottom: 0!important;
    
}

.App-body{
    padding-left: 100px;
    padding-right: 100px;
    overflow-y: scroll!important;
    
}
/* .App-body{
    height : 500px;
    width : 100%;

    min-height: 90vh;
} */


.App-title{
    padding: 2px;
    margin-bottom : 2px;
    align-self: center;
    width: 250px;
    display: flex;
    justify-content: flex-start;
}

.App-title p{
    position: relative;
}

.App-head{
    display: flex;
    flex-direction: row;
    top : 5px;
    justify-content : center;
}

.circle-btn{
    border-radius: 50px !important;
    float: right;
}

.anchor-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-head{
    display: flex;
    flex-direction : column;
    justify-content: center;
}

@media(max-width : 480px ){
    .App-body{
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media(max-width : 780px){
    .App-title{
        width : 110px;
    }
}
