tr,td{
    height : 70px !important;  
    width : 100%!important;
    border-radius: 9px!important;
    border-style: none!important;
    margin-bottom: 2px!important;
    border:	1px	!important;
    
   
}

tr{
    margin-bottom: 2px!important;
}

.table-info{
    align-self: auto;

}

.table-info > td:hover{
    background-color: #e4e4e4 !important;
}
.table tr{
    border: solid #f8f9fb !important;
}
@media(max-width : 780px){
    tr,td{

        border-radius: 7px!important;
        border-style: none!important;
    }

    .table-div{
        padding:1px!important;
    }
}